.controlMattersSection,
.commonSpeciesSection,
.serviceMethodsSection,
.diySection,
.userReviewsSection {
	display: flex;
	flex-direction: column;
	gap: 60px;
	width: 90%;
	margin: 0 auto;
}

.controlMattersSection :global(.header),
.commonSpeciesSection :global(.header),
.serviceMethodsSection :global(.header),
.diySection :global(.header) {
	width: 100%;
	margin: 0 auto;
	gap: 18px;
}

.commonSpeciesSection :global(.header),
.diySection :global(.header) {
	width: 55%;
}

.serviceMethodsSection :global(.header) {
	width: 956px;
}

.controlMattersSection :global(.header) p {
	max-width: 70%;
}

.serviceMethodsSection :global(.header) h2 {
	width: 80%;
}

.serviceMethodsSection :global(.header) p {
	max-width: 100%;
}

.controlMattersSection section,
.commonSpeciesSection section,
.serviceMethodsSection section,
.diySection section {
	width: 100%;
}

.controlMattersSection section > div,
.commonSpeciesSection section > div,
.serviceMethodsSection section > div,
.diySection section > div {
	align-items: center;
	justify-content: space-between !important;
	gap: initial;
}

.infestationSigns,
.processListSection,
.processCheckSection {
	min-height: initial;
	padding: 60px 0;
}

.infestationSigns > div,
.processListSection > div {
	display: flex;
	flex-direction: row;
	gap: 144px;
}

.infestationSigns :global(.header),
.processListSection :global(.header) {
	flex: 0.5;
}

.processCheckSection > div {
	display: flex;
	flex-direction: column;
	gap: 50px;
	align-items: center;
}

.processCheckSection :global(.header) p {
	max-width: 100%;
}

.infestationSigns .infoItem,
.processListSection .infoItem {
	color: var(--white);
}

.userReviewsSection :global(.user-reviews--header) {
	width: 50%;
}

.userReviewsSection :global(.user-reviews) > div {
	width: 100%;
}

/* Content */
.infoContainer {
	display: flex;
	gap: 32px;
	align-items: center;
	max-width: 100%;
}

.infoContent {
	display: flex;
	flex-direction: column;
	gap: 32px;
	flex: 0.85 !important;
}

.infoItem {
	font-size: var(--pestStudy-infoItem-ds);
	line-height: 1.15;
	color: var(--secondary);
	letter-spacing: -0.44px;
	width: 100%;
}

.boldText {
	font-weight: 700;
	font-family: var(--font-heading);
}

.regularText {
	font-weight: 400;
	font-family: var(--font-heading);
}

.regularText a {
	color: var(--hightlight-text);
}

/* Image container */
.controlMattersSection :global(.image-container) {
	position: relative;
	width: 595px;
	height: 509px;
	border-radius: 20px;
	overflow: hidden;
}

.commonSpeciesSection :global(.image-container),
.serviceMethodsSection :global(.image-container) {
	width: 595px;
	height: 612px;
}

.diySection :global(.image-container) {
	width: 595px;
	height: 484px;
}

/* Process Check List Styles */
.processCheckList {
	display: flex;
	flex-direction: row;
	gap: 21px;
	justify-content: center;
	align-items: flex-start;
	width: 100%;
	margin: 0 auto;
}

.processCheckList > * {
	flex: 1;
	min-width: 0;
}

.footer {
	padding-top: 80px;
}

@media screen and (max-width: 1024px) {
	.controlMattersSection,
	.commonSpeciesSection,
	.serviceMethodsSection,
	.diySection {
		gap: 32px;
	}

	.controlMattersSection :global(.header),
	.commonSpeciesSection :global(.header),
	.serviceMethodsSection :global(.header),
	.diySection :global(.header) {
		width: 100%;
		margin: 0 auto;
		gap: 18px;
	}

	.controlMattersSection section > div,
	.commonSpeciesSection section > div,
	.serviceMethodsSection section > div,
	.diySection section > div {
		flex-direction: column-reverse !important;
		gap: 32px;
	}

	.serviceMethodsSection section > div,
	.diySection section > div {
		gap: 47px;
	}

	.controlMattersSection :global(.header) p {
		max-width: 100%;
	}

	.controlMattersSection :global(.image-container),
	.commonSpeciesSection :global(.image-container),
	.serviceMethodsSection :global(.image-container),
	.diySection :global(.image-container) {
		width: 100%;
		height: 320px;
	}

	.infestationSigns > div,
	.processListSection > div {
		flex-direction: column;
		gap: 32px;
	}

	.infestationSigns .infoItem,
	.processListSection .infoItem {
		font-size: var(--pestStudy-infoItem-tb);
	}

	.infestationSigns .infoItem:nth-of-type(1) {
		font-size: var(--pestStudy-infoItem-heading-ds);
	}
}

@media screen and (max-width: 768px) {
	.controlMattersSection :global(.image-container),
	.commonSpeciesSection :global(.image-container),
	.serviceMethodsSection :global(.image-container),
	.diySection :global(.image-container) {
		width: 100%;
		height: 290px;
	}

	.processCheckList {
		flex-direction: column;
		gap: 40px;
	}

	.infestationSigns .infoItem:nth-of-type(1) {
		font-size: var(--pestStudy-infoItem-heading-tb);
	}
}

@media screen and (min-width: 481px) and (max-width: 1023px) {
	.footer {
		margin-top: 300px !important;
	}
	.infestationSigns .infoItem:nth-of-type(1) {
		font-size: var(--pestStudy-infoItem-heading-mb);
	}
}

@media screen and (max-width: 480px) {
	.infoItem {
		font-size: var(--pestStudy-infoItem-mb);
	}
	.controlMattersSection :global(.header) p,
	.commonSpeciesSection :global(.header) p,
	.serviceMethodsSection :global(.header) p,
	.diySection :global(.header) {
		max-width: 100%;
	}

	.footer {
		margin-top: 350px !important;
	}

	.infestationSigns .infoItem:nth-of-type(1) {
		font-size: var(--pestStudy-infoItem-heading-mb);
	}
}
