.section {
	display: flex;
	gap: 48px;
	align-items: center;
	position: relative;
	width: 90%;
	padding-top: 120px;
	margin: 0 auto;
}

.imageContainer {
	height: 607px;
	position: relative;
	border-radius: 20px;
	flex-shrink: 0;
	width: 392px;
}

.image {
	position: absolute;
	inset: 0;
	object-fit: cover;
	object-position: 50% 50%;
	pointer-events: none;
	border-radius: 20px;
	width: 100%;
	height: 100%;
}

.content {
	display: flex;
	flex-direction: column;
	gap: 60px;
	align-items: flex-start;
	position: relative;
	flex-shrink: 0;
	width: 845px;
}

.header {
	display: flex;
	flex-direction: column;
	gap: 18px;
	align-items: flex-start;
	justify-content: center;
	position: relative;
	flex-shrink: 0;
	width: 553px;
}

.title {
	font-family: var(--font-primary);
	font-weight: 700;
	font-size: 56px;
	line-height: 1.1;
	letter-spacing: -1.12px;
	color: var(--secondary);
	margin: 0;
}

.highlight {
	color: var(--primary);
}

.description {
	font-family: var(--font-secondary);
	font-weight: 400;
	font-size: 20px;
	line-height: 1.41;
	letter-spacing: -0.4px;
	color: var(--secondary);
	margin: 0;
}

.features {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 39px 53px;
	align-items: flex-start;
	position: relative;
	flex-shrink: 0;
	width: 100%;
}

.feature {
	display: flex;
	flex-direction: column;
	gap: 12px;
	align-items: flex-start;
	position: relative;
	flex-shrink: 0;
	color: var(--secondary);
	width: 100%;
}

.featureTitle {
	font-family: var(--font-primary);
	font-weight: 600;
	font-size: 24px;
	line-height: 1.15;
	letter-spacing: -0.48px;
	color: var(--secondary);
	margin: 0;
}

.featureDescription {
	font-family: var(--font-secondary);
	font-weight: 400;
	font-size: 20px;
	line-height: 1.41;
	letter-spacing: -0.4px;
	color: var(--secondary);
	margin: 0;
}
