.jumbotronHeaderContent {
	width: 507px !important;
}

.jumbotronFooterContent {
	width: 625px !important;
}

.jumbotronHeaderContent p,
.jumbotronFooterContent p {
	width: 100% !important;
}

.localPestExpertSection {
	margin-top: 100px;
}

.whyChooseEcoviaSection,
.userReviewsSection {
	display: flex;
	flex-direction: column;
	gap: 60px;
	width: 90%;
	margin: 0 auto;
}

.whyChooseEcoviaSection :global(.header) {
	width: 70%;
	margin: 0 auto;
}

.whyChooseEcoviaSection section {
	width: 100%;
}

.whyChooseEcoviaSection section > div {
	align-items: center;
	justify-content: space-between;
	gap: initial;
}

.userReviewsSection :global(.user-reviews--header) {
	width: 50%;
}

.userReviewsSection :global(.user-reviews) > div {
	width: 100%;
}

/* Content */
.infoContainer {
	display: flex;
	gap: 32px;
	align-items: center;
	max-width: 100%;
}

.infoContent {
	display: flex;
	flex-direction: column;
	gap: 32px;
	flex: 0.7;
}

.infoItem {
	font-size: 22px;
	line-height: 1.15;
	color: var(--secondary);
	letter-spacing: -0.44px;
	width: 100%;
}

.boldText {
	font-weight: 700;
	font-family: var(--font-heading);
}

.regularText {
	font-weight: 400;
	font-family: var(--font-heading);
}

/* Image container */
.whyChooseEcoviaSection :global(.image-container) {
	position: relative;
	width: 595px;
	height: 509px;
	border-radius: 20px;
	overflow: hidden;
}

.footer {
	padding-top: 80px;
}

@media screen and (max-width: 1024px) {
	.localPestExpertSection {
		margin-top: 430px;
	}

	.whyChooseEcoviaSection {
		gap: 32px;
	}

	.whyChooseEcoviaSection :global(.header) {
		width: 100%;
		margin: 0 auto;
		gap: 18px;
	}

	.whyChooseEcoviaSection section > div {
		flex-direction: column-reverse;
		gap: 47px;
	}

	.whyChooseEcoviaSection :global(.image-container) {
		width: 100%;
		height: 320px;
	}

	.footer {
		margin-top: 300px !important;
	}
}

@media screen and (max-width: 768px) {
	.jumbotronFooterContent {
		width: 85% !important;
	}

	.localPestExpertSection {
		margin-top: 360px;
	}

	.whyChooseEcoviaSection :global(.image-container) {
		width: 100%;
		height: 290px;
	}

	.footer {
		margin-top: 300px !important;
	}
}

@media screen and (max-width: 480px) {
	.jumbotronHeaderContent,
	.jumbotronFooterContent {
		width: 100% !important;
	}

	.localPestExpertSection {
		margin-top: 290px;
	}

	.footer {
		margin-top: 350px !important;
	}
}
