.commitmentSection > div {
	gap: 32px;
	justify-content: space-between;
}

.commitmentSection :global(.content-container) {
	width: initial;
	flex: 0.8;
}

.trustInfoContentSection {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 48px;
}

.trustInfo {
	width: 50%;
	margin: 0 auto;
	text-align: center;
}

.frame {
	position: absolute;
	display: none;
}

.pestExpertSection > div {
	gap: 52px;
}

.pestExpertSection :global(.content-container) {
	padding-top: 45px;
	width: initial;
	flex: 0.85;
}

.pesticideInfo > div:nth-of-type(1) {
	width: 482px;
}

.midHeroSection {
	align-items: initial !important;
}

.midHeroSectionContent {
	width: 90% !important;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.midHeroContent {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 500px;
	gap: 44px;
}

.midHeroImage {
	position: relative;
	width: 55%;
	height: 100%;
}

.midHeroImage img {
	object-fit: cover;
}

.midHeroContent h2 {
	font-size: 60px;
	text-align: left;
}

.midHeroSubtitle {
	width: 85%;
}

.footer {
	padding-top: 80px;
}

@media screen and (min-width: 1368px) {
	.frame {
		display: block;
	}

	.frame:nth-of-type(1) {
		top: 0;
		left: 10%;
	}

	.frame:nth-of-type(2) {
		top: 0;
		right: 25%;
	}

	.frame:nth-of-type(3) {
		bottom: 100px;
		left: 5%;
	}

	.frame:nth-of-type(4) {
		bottom: 0;
		left: 25%;
	}

	.frame:nth-of-type(5) {
		bottom: 0;
		right: 25%;
	}

	.frame:nth-of-type(6) {
		bottom: 200px;
		right: 5%;
	}
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
	.trustInfo {
		width: 70%;
	}

	.pestExpertSection img {
		object-position: 0 20%;
	}

	.midHeroImage {
		width: 50%;
		height: 400px;
	}

	.midHeroContent {
		width: 45%;
		gap: 32px;
	}

	.midHeroContent h2 {
		font-size: 48px;
	}

	.footer {
		margin-top: 300px !important;
	}
}

@media screen and (max-width: 768px) {
	.trustInfoSection {
		min-height: initial;
		padding: 60px 0;
	}

	.trustInfoContentSection {
		gap: 32px;
	}

	.trustInfo {
		width: 100%;
		gap: 30px;
	}

	.pesticideInfo > div:nth-of-type(1) {
		width: 100%;
	}

	.midHeroSection {
		min-height: initial !important;
		padding: 0;
	}

	.midHeroSectionContent {
		width: 100% !important;
		flex-direction: column;
	}

	.midHeroImage {
		width: 100%;
		height: 380px;
	}

	.midHeroContent {
		width: 90%;
		gap: 32px;
		align-items: center;
		padding: 60px 0;
	}

	.midHeroContent > div {
		align-items: center;
	}

	.midHeroContent h2 {
		font-size: 32px;
		text-align: center !important;
	}

	.midHeroSubtitle {
		width: 100%;
		text-align: center !important;
	}

	.footer {
		margin-top: 300px !important;
	}
}
