/* PesticideInfoSection styles */
.pesticideInfoSection {
	display: flex;
	flex-direction: column;
	gap: 60px;
	padding-left: 5%;
}

.headerSection {
	width: 100%;
}

/* Responsive styles */
@media screen and (max-width: 768px) {
	.pesticideInfoSection {
		width: 100%;
		overflow: hidden;
	}
	.headerSection {
		width: 90%;
		margin: 0 auto;
		text-align: center;
		padding-right: 5%;
	}

	.headerSection h2 {
		font-size: var(--pesticideInfoSection-header-ds);
	}
}
