.hero {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.heroWithGradient {
	background-image: linear-gradient(278deg, rgba(19, 64, 33, 0) 20.23%, rgba(19, 64, 33, 0.91) 70.16%), var(--bg-image);
}

.heroWithoutGradient {
	background-image: var(--bg-image);
}

@media screen and (max-width: 480px) {
	.heroWithGradient {
		background-image: linear-gradient(284deg, rgba(19, 64, 33, 0) 0.66%, rgba(19, 64, 33, 0.84) 89.3%), var(--bg-image);
	}
}
