.residentialInfoSection,
.safetyMeasureSection,
.userReviewsSection {
	display: flex;
	flex-direction: column;
	gap: 60px;
	width: 90%;
	margin: 0 auto;
}

.residentialInfoSection :global(.header),
.safetyMeasureSection :global(.header) {
	width: 800px;
	margin: 0 auto;
	gap: 18px;
}

.residentialInfoSection section,
.safetyMeasureSection section {
	width: 100%;
}

.residentialInfoSection section > div,
.safetyMeasureSection section > div {
	align-items: center;
	justify-content: space-between;
	gap: initial;
}

.safetyMeasureSection :global(.header) {
	width: 850px;
	margin: 0 auto;
}

.userReviewsSection :global(.user-reviews--header) {
	width: 50%;
}

.userReviewsSection :global(.user-reviews) > div {
	width: 100%;
}

.reverseSection > div {
	gap: initial;
	align-items: center;
	justify-content: space-between !important;
}

.reverseSection > div {
	gap: initial;
	align-items: center;
	justify-content: space-between !important;
}

.reverseSectionContent {
	width: initial !important;
	flex: 0.9;
	gap: 18px !important;
}

.reverseSectionContent button {
	height: 68px;
}

/* Content */
.infoContainer {
	display: flex;
	gap: 32px;
	align-items: center;
	max-width: 100%;
}

.infoContent {
	display: flex;
	flex-direction: column;
	gap: 32px;
	flex: 0.85;
}

.infoItem {
	font-size: 22px;
	line-height: 1.15;
	color: var(--secondary);
	letter-spacing: -0.44px;
	width: 100%;
}

.boldText {
	font-weight: 700;
	font-family: var(--font-heading);
}

.regularText {
	font-weight: 400;
	font-family: var(--font-heading);
}

/* Image container */
.residentialInfoSection :global(.image-container),
.safetyMeasureSection :global(.image-container) {
	position: relative;
	width: 595px;
	height: 509px;
	border-radius: 20px;
	overflow: hidden;
}

.footer {
	padding-top: 80px;
}

@media screen and (max-width: 1024px) {
	.residentialInfoSection {
		gap: 32px;
	}

	.residentialInfoSection :global(.header),
	.safetyMeasureSection :global(.header) {
		width: 100%;
		margin: 0 auto;
		gap: 18px;
	}

	.residentialInfoSection section > div,
	.safetyMeasureSection section > div {
		flex-direction: column-reverse;
		gap: 47px;
	}

	.residentialInfoSection :global(.image-container),
	.safetyMeasureSection :global(.image-container) {
		width: 100%;
		height: 320px;
	}
}

@media screen and (max-width: 768px) {
	.residentialInfoSection :global(.image-container),
	.safetyMeasureSection :global(.image-container) {
		width: 100%;
		height: 290px;
	}
}

@media screen and (min-width: 481px) and (max-width: 1023px) {
	.footer {
		margin-top: 300px !important;
	}
}

@media screen and (max-width: 480px) {
	.jumbotron {
		background-image:
			linear-gradient(278.35deg, rgba(19, 64, 33, 0) 5.67%, var(--secondary) 74.02%), url(/images/service-bg.jpg) !important;
		background-position: -140px 0 !important;
	}

	.footer {
		margin-top: 350px !important;
	}
}
