@import "tailwindcss";

:root {
	--white: #ffffff;
	--black: #171717;
	--primary: #deff83;
	--secondary: #134021;
	--dark-green: #0f2d1a;
}

@theme inline {
	--color-background: var(--white);
	--color-foreground: var(--black);
	--font-sans: var(--font-open-sans);
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #0a0a0a;
		--foreground: #ededed;
	}
}

body {
	background: var(----color-background);
	color: var(----color-foreground);
	font-family:
		var(--font-open-sans),
		-apple-system,
		BlinkMacSystemFont,
		"Segoe UI",
		Roboto,
		"Helvetica Neue",
		Arial,
		sans-serif;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
