@import "tailwindcss";

/* Font Face Declarations */
@font-face {
	font-family: "ES Rebond Grotesque TRIAL";
	src:
		url("/fonts/rebond-grotesque/RebondGrotesque-Regular.woff2") format("woff2"),
		url("/fonts/rebond-grotesque/RebondGrotesque-Regular.otf") format("opentype");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "ES Rebond Grotesque TRIAL";
	src:
		url("/fonts/rebond-grotesque/RebondGrotesque-Medium.woff2") format("woff2"),
		url("/fonts/rebond-grotesque/RebondGrotesque-Medium.otf") format("opentype");
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "ES Rebond Grotesque TRIAL";
	src:
		url("/fonts/rebond-grotesque/RebondGrotesque-SemiBold.woff2") format("woff2"),
		url("/fonts/rebond-grotesque/RebondGrotesque-SemiBold.otf") format("opentype");
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "ES Rebond Grotesque TRIAL";
	src:
		url("/fonts/rebond-grotesque/RebondGrotesque-Bold.woff2") format("woff2"),
		url("/fonts/rebond-grotesque/RebondGrotesque-Bold.otf") format("opentype");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

:root {
	--white: #ffffff;
	--black: #171717;
	--primary: #deff83;
	--secondary: #134021;
	--dark-green: #0f2d1a;
	--light-green: #b1cf5f;
	--hightlight-text: #b1cf5f;
	--rating-card-bg: #f3f3f3;
	--gray: #d9d9d9;
	--light-gray: #ededed;

	/* Font Family Variables */
	--font-primary: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
	--font-heading:
		"ES Rebond Grotesque TRIAL", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
	--font-body: var(--font-primary);

	/* Viewport Variables */
	--viewport-mobile: 480px;
	--viewport-tablet: 768px;
	--viewport-desktop: 1024px;
	--viewport-large: 1280px;
	--viewport-xl: 1536px;
}

@theme inline {
	--color-background: var(--white);
	--color-foreground: var(--black);
	--font-sans: var(--font-open-sans);
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: var(--black);
		--foreground: var(--gray);
	}
}

body {
	background: var(----color-background);
	color: var(----color-foreground);
	font-family: var(--font-body);
	overflow-x: hidden;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
