@import "tailwindcss";

:root {
	--white: #ffffff;
	--black: #171717;
	--primary: #deff83;
	--secondary: #134021;
	--dark-green: #0f2d1a;
	--light-green: #b1cf5f;
	--hightlight-text: #b1cf5f;
	--rating-card-bg: #f3f3f3;
	--gray: #d9d9d9;
	--light-gray: #ededed;

	/* Font Family Variables */
	--font-primary: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
	--font-heading:
		"ES Rebond Grotesque TRIAL", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
	--font-body: var(--font-primary);

	/* Viewport Variables */
	--viewport-mobile: 320px;
	--viewport-tablet: 768px;
	--viewport-desktop: 1024px;
	--viewport-large: 1280px;
	--viewport-xl: 1536px;
}

@theme inline {
	--color-background: var(--white);
	--color-foreground: var(--black);
	--font-sans: var(--font-open-sans);
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: var(--black);
		--foreground: var(--gray);
	}
}

body {
	background: var(----color-background);
	color: var(----color-foreground);
	font-family: var(--font-body);
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
