/* FAQ Section */
.faqSection {
	width: 100%;
	padding-top: 120px;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 60px;
}

.faqHeader {
	width: 736px;
	text-align: center;
}

.faqContainer {
	width: 100%;
	max-width: 1176px;
}

/* Custom FAQ Accordion Styles */
.faqAccordion {
	display: flex;
	flex-direction: column;
	gap: 24px;
}
