.container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	gap: 65px;
}

.reverse {
	flex-direction: row-reverse;
}

.content {
	display: flex;
	flex-direction: column;
	gap: 101px;
	width: 532px;
	flex-shrink: 0;
}

.info {
	display: flex;
	flex-direction: column;
	gap: 16px;
	width: 100%;
}

.serviceNumber {
	font-family: var(--font-heading);
	font-style: normal;
	font-weight: 800;
	font-size: 20px;
	line-height: 1.15;
	letter-spacing: -0.4px;
	color: var(--section-label-color, var(--hightlight-text));
	white-space: nowrap;
}

.serviceName {
	font-family: var(--font-heading);
	font-style: normal;
	font-weight: 700;
	font-size: 42px;
	line-height: 1.15;
	letter-spacing: -0.84px;
	color: var(--service-name-color, var(--primary-text));
	white-space: nowrap;
}

.serviceDescription {
	font-family: var(--font-body);
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 1.41;
	letter-spacing: -0.4px;
	color: var(--paragraph-color, var(--primary-text));
	width: 532px;
}

.cta {
	font-family: var(--font-heading);
	font-style: normal;
	font-weight: 600;
	font-size: 20px;
	line-height: 1.15;
	letter-spacing: -0.4px;
	color: var(--cta-color, var(--primary-text));
	text-decoration: underline;
	text-transform: uppercase;
	width: 100%;
}

.imageContainer {
	position: relative;
	height: 441px;
	width: 660px;
	border-radius: 20px;
	overflow: hidden;
	flex-shrink: 0;
	background-color: #d9d9d9;
}

.image {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: 50% 50%;
	border-radius: 20px;
}

@media screen and (max-width: 1024px) {
	.container {
		flex-direction: column;
		align-items: flex-start;
		gap: 24px;
	}

	.content {
		width: 100%;
		gap: 40px;
	}

	.imageContainer {
		width: 100%;
		height: 320px;
	}

	.serviceDescription {
		width: 100%;
	}
}

@media screen and (max-width: 480px) {
	.imageContainer {
		height: 291px;
	}

	.serviceName {
		font-size: 32px;
	}

	.serviceDescription {
		font-size: 16px;
	}

	.cta {
		font-size: 16px;
	}
}
