.header {
	width: 55%;
}

.ourServicesSection,
.ecoviaProcessSection,
.userReviewsSection {
	display: flex;
	flex-direction: column;
	gap: 60px;
	width: 90%;
	margin: 0 auto;
}

.userReviewsSection :global(.user-reviews--header) {
	width: 50%;
}

.userReviewsSection :global(.user-reviews) > div {
	width: 100%;
}

.ecoviaProcessSection :global(.header) {
	width: 653px;
	margin: 0 auto;
}

.separator {
	background-color: #f3f3f3;
	height: 4px;
	border-radius: 32px;
	width: 100%;
	margin-top: 58px;
}

.pestInfoCard {
	justify-content: flex-end;
}

.pestInfoCard > div {
	flex: 1;
}

.jumbotronFooterContent p {
	width: 100% !important;
}

.footer {
	padding-top: 80px;
}

@media screen and (max-width: 1024px) {
	.ourServicesSection {
		gap: 32px;
	}
	.separator {
		margin-top: 0;
	}
}

@media screen and (min-width: 481px) and (max-width: 1023px) {
	.footer {
		margin-top: 300px !important;
	}
	.pestInfoCard > div {
		flex: initial;
	}
}

@media screen and (max-width: 768px) {
	.header {
		width: 90% !important;
	}
	.pestInfoCard > div {
		flex: initial;
	}
}

@media screen and (max-width: 480px) {
	.whatWeTreatSection {
		gap: 30px;
	}
	.pestInfoCard {
		flex-direction: column-reverse;
	}
	.footer {
		margin-top: 350px !important;
	}
}
