/* HomeFooterJumbotron styles */
.jumbotron {
	position: relative;
	min-height: 652px;
}

.content,
.infoGroup {
	width: 55% !important;
}

.description {
	width: 60% !important;
}

.contactFormContainer {
	position: absolute;
	right: 5%;
	top: 74px;
}

.infoGroup {
	display: flex;
	flex-direction: row;
	gap: 52px;
}

@media screen and (max-width: 1280px) {
	.jumbotron > section {
		height: 690px;
		align-items: flex-start;
		padding-top: 46px;
	}

	.content,
	.infoGroup,
	.description {
		width: 100% !important;
	}

	.description {
		font-size: 16px;
	}

	.contactFormContainer {
		position: static;
		margin-top: 38px;
	}

	.contactFormContainer > div {
		margin: 0;
		z-index: 99;
	}

	.infoGroup {
		gap: 7px;
	}
}

@media screen and (max-width: 768px) {
	.contactFormContainer > div {
		width: 100%;
	}
}
